* {
	box-sizing: border-box;
}
.header {
	width: 100%;
	display: flex;
	background: #373d3e;
	color: lime;
	justify-content: flex-start;
	flex-direction: row;
	align-items: flex-end;
	font-size: .9em;
	font-family: Consolas, sans-serif;
}
.header>h1 {
	font-size: 3em;
	margin: .5em .8em .5em 2.5em;
}
em {
	margin: 1.75em 0;
}

.welcome-image {
	display: block;
	position: relative;
	top: 50%;
	left: 30%;
	margin: 3em 0;
}

.instructions-wrapper {
	width: 75%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin: 4em auto;
	border: black 5px solid;
	padding: 1.5em;
}
 .instructions-content {
	 font-family: Consolas, sans-serif;
	 width: 50%;
 }
 .janeway-image {
	 display: flex;
	 align-self: auto;
	 margin-left: 15%;
	 margin-top: 1.5%;
	 width: 18em;
	 height: 12em;
 }

 .about-me {
	 background-color: #1015e1;
	 display: block;
	 position: absolute;;
 }
 .about-me-wrapper {
	 display: inline-block;
	 position: relative;
	 height: auto;
	 width: 100%;
 }

 .picard-image {
	 display: inline-block;
	 position: relative;
	 float: left;
	 width: 18em;
	 height: 18em;
	 border: white 1px solid;
	 margin: 4em 1em 2.5em 5.8em;
 }
 .about-me-header {
	 display: inline-block;
	 position: relative;
	 float: left;
	 color: white;
	 font-family: Consolas, sans-serif;
	 padding: 2.5em 1em 0 1em;
 }
 .about-me-text {
	 display: inline-block;
	 position: relative;
	 float: left;
	 color: white;
	 font-family: Consolas, sans-serif;
	 width: 70%;
	 padding: 0 5em 2em 1em;
 }

 .about-me-text span {
	 color: yellow;
 }

 .clearfix {
	 clear: both;
 }