/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/
.header {
	width: 100%;
	display: flex;
	background: #373d3e;
	color: lime;
	justify-content: flex-start;
	flex-direction: row;
	align-items: flex-end;
	font-size: .9em;
	font-family: Consolas, sans-serif;
}
.header>h1 {
	font-size: 3em;
	margin: .5em .8em .5em 2.5em;
}
em {
	margin: 1.75em 0;
}

.welcome-image {
	display: block;
	position: relative;
	top: 50%;
	left: 22.5%;
	margin: 3em 0;
	width: 50%;
	height: auto;
}

.instructions-wrapper {
	width: 75%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin: 4em auto;
	border: black 5px solid;
	padding: 1.5em;
}
 .instructions-content {
	 font-family: Consolas, sans-serif;
	 width: 50%;
 }
 .janeway-image {
	 display: flex;
	 align-self: auto;
	 margin-left: 15%;
	 margin-top: 1.4%;
	 width: 34%;
	 height: 8%;

 }

 .about-me {
	 background-color: #1015e1;
	 display: block;
	 position: relative;
	 height: 50vh;
	 padding: 2em 1em;
 }
 .about-me-wrapper {
	 display: inline-block;
	 position: relative;
	 height: auto;
	 width: 100%;
 }

 .picard-image {
	 display: inline-block;
	 position: relative;
	 float: left;
	 width: 25%;
	 height: 10%;
	 border: white 1px solid;
	 margin: 2em 2em 0 4em;
 }
 .about-me-header {
	 display: inline-block;
	 position: relative;
	 float: left;
	 color: white;
	 font-family: Consolas, sans-serif;
 }
 .about-me-text {
	 display: inline-block;
	 position: relative;
	 float: left;
	 color: white;
	 font-family: Consolas, sans-serif;
	 width: 50%;
	 font-size: .8em;
	 padding: .5em;
 }

 .about-me-text span {
	 color: yellow;
 }

 .skillz {
	 display: block;
	 position: relative;
	 width: 100%;
	 height: 55vh;
	 font-family: Consolas, sans-serif;
 }

 .skillz-header {
	 font-weight: bold;
	 float: right;
	 width: 40%;
 }
 table {
	 background-color: black;
	 color: lime;
	 clear: both;
	 text-align: left;
	 table-layout: fixed;
	 border-collapse: collapse;
	 width: 90%;
	 margin: 0 5%;
 }
 th, td {
	 width: 30%;
	 padding: 1em;
	 border: ghostwhite 2px solid;
 }
.contact {
	background-color: #373d3e;
	height: 75vh;
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 1em 0 3em 0;
}
 .form-wrapper {
	 background-color: forestgreen;
	 height: 100%;
	 color: lime;
	 font-family: Consolas, sans-serif;
	 width: 90%;
	 margin: 0 5% 10% 5%;
 }

 label, input , textarea {
	 display: flex;
	 flex-direction: column;
	 align-content: center;
	 margin: .5em;
 }

 input {
	 width: 21.5%;
 }
 button {
	 margin: .5%;
	 width: 6%;
	 background-color: lime;
	 border-style: none;
 }
 footer {
	 display: flex;
	 justify-content: center;
	 align-content: center;
	 background-color: black;
	 color: ghostwhite;
	 height: 10vh;
 }

 .clearfix {
	 clear: both;
 }